<div class="profile-page-container">
  <div class="profile-statistic-container">
    <!-- Profilinformationen -->
    <mat-card class="profile-card">
      <div class="profile-image-container" (click)="openModal()">
        <img class="profile-image" [src]="selectedImage" alt="Profilbild" height="680" width="680">
      </div>
      <div class="profile-info">
        <h2>{{ user?.nickname }}</h2>
        <p>Elo Points: {{ user?.elo }}</p>
        <button mat-button class="btn blinking-button" (click)="openQueueModal()">Play</button>
        <button mat-button color="primary" (click)="openChangePasswordDialog()">change password</button>
      </div>
    </mat-card>

    <!-- Modal für Profilbild -->
    @if(isModalOpen) {
      <div class="modal-overlay">
        <div class="modal-content">
          <h2>Profile picture</h2>

          <img class="large-profile-image" [src]="selectedImage || 'assets/profile-picture.jpg'" alt="Großes Profilbild">
          <div class="upload-area"
               (dragover)="onDragOver($event)"
               (drop)="onDrop($event)">
            <p>Drag & Drop ein neues Bild hierher oder</p>
            <input type="file" (change)="onFileSelected($event)">
          </div>
          <button (click)="closeModal()">Close</button>
        </div>
      </div>
    }

    <!-- Statistik und Graphik -->
    <mat-card class="statistics-card">
      <h3>Game Statistic</h3>
      <div class="stats">
        <p>Wins: {{ user?.wins }}</p>
        <p>Loses: {{ user?.loses }}</p>
        <p>Draws: {{ user?.draw }}</p>
        <p>Win Rate: {{ winRate }}</p>
      </div>
      <!-- Graphik -->
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="true">
      </canvas>
    </mat-card>
  </div>

  <!-- Game History -->
  <mat-card class="game-history-card">
    <h3>Game History</h3>
    <div class="game-history-scroll">
      <mat-accordion>
        @for (game of gameHistory; track $index) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Gegner: {{ game.opponent }} | Ergebnis: {{ game.result }}
              </mat-panel-title>
              <mat-panel-description>
                Elo Änderung: {{ game.eloChange }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Ergebnis: {{ game.result }}</p>
            <p>Veränderte Elo-Punkte: {{ game.eloChange }}</p>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </mat-card>
</div>
