<div class="mat-dialog-container">

  <h2>Change Password</h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <input matInput type="password" placeholder="Current password" formControlName="currentPassword" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="password" placeholder="New password" formControlName="newPassword" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="changePasswordForm.invalid" class="update-btn">Update</button>
      <button mat-button mat-dialog-close class="close-btn">Cancel</button>
    </div>
  </form>
</div>
