.mat-dialog-container {
  padding: 20px;
  width: auto;
  max-width: 90vw;
  max-height: 80vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: #15072E;
  color: white;
}

/* Header Styling */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.update-btn {
  background-color: #ED4AB7 !important;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.close-btn {
  background-color: grey !important;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Abstand zwischen den Feldern */
}

.mat-form-field {
  margin: 10px 0; /* Margin oben und unten */
  width: 100%; /* Mat-Form-Felder sollen die gesamte Breite nutzen */
}

.mat-form-field .mat-form-field-infix {
  height: 90px; /* Erhöht die Höhe des Eingabefelds */
}

.mat-form-field input {
  height: 40px; /* Höhe des Eingabefeldes erhöhen */
  padding: 10px ; /* Padding für den Text im Eingabefeld */
}
.mat-label{
  margin-top: 10px;
}

/* Button Actions */
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

