/* Dialog Container Styling */
.mat-dialog-container {
  padding: 20px;
  width: 500px; /* Breite des Dialogs */
  max-width: 90vw; /* Maximalbreite auf 90% der Viewport-Breite setzen */
  max-height: 80vh; /* Maximalhöhe auf 80% der Viewport-Höhe setzen */
  overflow: auto; /* Ermöglicht Scrollen bei Überlauf */
  box-sizing: border-box;
  background-color: #15072E;
  color: white;
}

/* Header Styling */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Abstand zwischen den Feldern */
}

.mat-form-field {
  margin: 10px 0; /* Margin oben und unten */
  width: 100%; /* Mat-Form-Felder sollen die gesamte Breite nutzen */
}

.mat-form-field .mat-form-field-infix {
  height: 90px; /* Erhöht die Höhe des Eingabefelds */
}

.mat-form-field input {
  height: 40px; /* Höhe des Eingabefeldes erhöhen */
  padding: 10px ; /* Padding für den Text im Eingabefeld */
}
.mat-label{
  margin-top: 10px;
}

/* Button Actions */
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

