.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: url("../assets/modal-bg.jpg") no-repeat center center fixed;
  background-size: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: white;
}
.timer {
  margin-bottom: 30px;
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5rem;
  color: yellow;
}
h1 {
  color: yellow !important; /* Goldene Farbe für eine angenehmere Darstellung */
  font-family: 'Audiowide', sans-serif;
  font-size: 2.5rem !important;
  margin-bottom: 20px;
}
.start{
  background-color: #ED4AB7;
  color: white !important;
}
.leave{
  background-color: grey;
  color: white !important;
}
.game-btn{
  justify-content: center;
  position: relative;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px;
}
