<div class="modal-container">
  @if (this.gameModal) {
  <h1 mat-dialog-title [innerHTML]="this.data.draw ? 'Draw!' : this.data.gameWon? 'You Won!' : 'You Lose!'"></h1>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="leave game-btn" (click)="returnHome()">Return To Home</button>
  </div>
  }
  @else {
  @if(!canStartGame){
  <div class="timer">
    <p>{{ formatTime(timeInQueue) }}</p>
  </div>
  }

  <h1 mat-dialog-title
    [innerHTML]="canStartGame ? 'Match Found!<br>Game starting in ' + countdown + ' seconds' : 'Waiting for Match'">
  </h1>


  @if(!canStartGame){
  <div mat-dialog-actions>
    <!-- Show cancel button during the search -->
    <button mat-button mat-dialog-close (click)="leaveQueue()" class="leave game-btn">Cancel</button>
  </div>
  }
  }
</div>