<mat-toolbar>
  <nav class="navbar">
    <div class="nav-wrapper">
      <div>
        <img src="tic-tac-toe-logo.png" alt="Logo" height="50" width="50"/>
      </div>

      <!-- desktop -->
      <ul class="nav-links large-screen">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a href="#">Ranking list</a></li>
      </ul>
      <span class="spacer"></span>
    </div>
    <button mat-button class="login-btn large-screen" [routerLink]="'/auth'">Login</button>

    <!-- mobile -->
    <!-- bug: when clicked, menu is shown at the end of the page -->
    <div class="menu-toggle">
      <button mat-icon-button [matMenuTriggerFor]="aboveMenu" class="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" [overlapTrigger]="true" yPosition="above" class="menu">
        <button mat-menu-item class="menu" [routerLink]="'/home'">
          <span>Home</span>
        </button>
        <button mat-menu-item class="menu" [routerLink]="'/ranking'">
          <span>Ranking list</span>
        </button>
        <button mat-menu-item class="menu" [routerLink]="'/auth'">
          <span>Login</span>
        </button>
      </mat-menu>
    </div>
  </nav>
</mat-toolbar>
