.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

mat-sidenav-content {
  background-color: black;
}

mat-toolbar {
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0;
  display: none;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.spacer-left, .spacer-right {
  display: none;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  background-color: black;
}

.menu {
  background-color: black;
  color: white;
}

mat-sidenav-container {
  z-index: 1000;
}

mat-sidenav {
  width: 80%;
  z-index: 1000;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.menu mat-icon {
  margin-right: 8px;
}

.menu-item {
  text-align: center;
  display: block;
  background-color: #15072E;
  color: white !important;
  border: 1px solid deeppink !important;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 5%;
  margin-left: 15%;
  margin-top: 13%;
  font-size: clamp(15px, 4vw, 25px);
  width: 70%;
  border-radius: 50px;
}

.first-btn {
  margin-top: 30%;
}

.highlighted {
  background-color: #ED4AB7;
  border: 3px solid #ED4AB7;
  padding: 20px;
}

.menu-toggle {
  padding: 10px;
  background-color: black;
}

.close-button {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 20px;
}

.btn:hover {
  background-color: #d43a9a;
}

.menu-item:hover {
  background-color: #120622;
}

.btn {
  display: none;
}

@keyframes blink-mobile-nav {
  0%, 100% {
    background-color: #15072E;
  }
  50% {
    background-color: deeppink;
  }
}

.blinking-button-mobile-nav {
  animation: blink-mobile-nav 3s infinite;
}

.blinking-button-mobile-nav:hover {
  animation: none;
}

/* Styles for larger screens (tablet and above) */
@media (min-width: 750px) {

  .nav-links {
    display: flex;
    align-items: flex-end;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .menu-toggle {
    display: none;
  }

  .spacer-left {
    flex-grow: 0;
    margin-right: 80px;
    display: block;
  }

  .spacer-right {
    flex-grow: 1;
    display: block;
  }

  .btn {
    margin-top: 0;
    margin-right: 20px;
    padding: 10px 20px;
    margin-left: 0;
    font-size: 16px;
    border-radius: 3px;
    background-color: #ED4AB7;
    color: white !important;
    width: 90px;
    display: flex;
    align-items: flex-end;
  }
}
