.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

mat-toolbar {
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0;
  display: none; /* Hide menu on mobile initially */
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.large-screen {
  display: none;
}

.spacer {
  display: none; /* Hide spacer on mobile */
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.menu {
  background-color: #000; /* Match navbar background */
  color: white;

}

.login-btn {
  background-color: #ED4AB7;
  color: white !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 4px 6px 8px rgba(237, 74, 183, 0.48);
  margin-right: 10px;
}

/* Styles for larger screens (tablet and above) */
@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .large-screen {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .menu-toggle {
    display: none; /* Hide menu toggle on larger screens */
  }

  .spacer {
    flex: 1 1 auto;
    display: block; /* Show spacer on larger screens */
  }

  .login-btn {
    margin-top: 0;
    margin-right: 20px;
  }

  .login-btn:hover {
    background-color: #d43a9a; /* Slightly darker shade for hover effect */
  }
}
