.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282828;
}

.outer-edges {
  position: relative;
  padding: 30px;
  background-color: #444;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

.inner-edges {
  position: relative;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 450px;
  height: 450px;
  background-color: black;
  padding: 10px;
  border-radius: 4px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

button[mat-button] {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: white;
  background-color: #1e1e1e;
  border: 1px solid #444;
}

button[mat-button]:hover {
  background-color: #333;
}

.profile-card {
  flex: 1 1 20%;
  max-width: 300px;
  padding: 20px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: auto;
  align-items: center;
  font-family: Audiowide, sans-serif;
}
.profile-info h2{
  margin-bottom: 5rem;
}
.profile-info p {
  margin-bottom: 5rem;
}

.active {
  border: 4px solid #bc13fe;
}
/* Media Query für mobile Geräte */
@media screen and (max-width: 768px) {
  /* Container im mobilen Layout anpassen */
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Profilkarten als schmale Container über dem Spielbrett */
  .profile-card {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    padding: 5px;
    height: 60px;
  }

  /* Profilbild in der mobilen Ansicht kleiner machen */
  .profile-image-container {
    width: 50px;
    height: 50px;
  }

  .profile-image {
    width: 100%;
    height: 100%;
  }

  /* Text kleiner und schmaler anpassen */
  .profile-info {
    font-size: 14px;
    margin-top: 0;
    margin-left: 10px;
  }

  .profile-info h2 {
    margin-bottom: 0;
  }

  .profile-info p {
    margin-bottom: 0;
  }

  /* Spielraster kleiner machen */
  .grid {
    width: 300px;
    height: 300px;
  }

  .cell {
    height: 90px;
  }

  button[mat-button] {
    font-size: 24px;
  }
}
