<div class="container">
  <!-- Spieler 1 Profil -->
  <mat-card class="profile-card" [ngClass]="{ 'active': currentPlayerId === player1?.id }">
    <div class="profile-image-container">
      <img class="profile-image" [src]="player1Image" alt="Profilbild">
    </div>
    <div class="profile-info">
      <h2>{{ player1?.nickname }}</h2>
      <p>Elo Points: {{ player1?.elo }}</p>
    </div>
  </mat-card>

  <!-- Spielfeld -->
  <div class="outer-edges">
    <div class="inner-edges">
      <div class="grid">
        @for (cell of cells; track $index) {
          <div class="cell" (click)="makeMove($index)">
            <button mat-button>{{ getCellSymbol(cell) }}</button>
          </div>
        }
      </div>
    </div>
  </div>
  <!-- Spieler 2 Profil -->
  <mat-card class="profile-card" [ngClass]="{ 'active': currentPlayerId === player2?.id }">
    <div class="profile-image-container">
      <img class="profile-image" [src]="player2Image" alt="Profilbild">
    </div>
    <div class="profile-info">
      <h2>{{ player2?.nickname }}</h2>
      <p>Elo Points: {{ player2?.elo }}</p>
    </div>
  </mat-card>
</div>
