.admin-container {
  flex: 1; /* Allows the container to grow and fill available space */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-blend-mode: multiply;
  position: relative;
  min-height: 100vh;
  width: auto;
  padding: 20px;
  background: url("../assets/profile-background.jpg") repeat center center rgba(0, 0, 0, 0.3);
  background-size: cover;
}

mat-card-title {
  color: yellow;
  font-family: 'Audiowide', sans-serif;
  font-size: clamp(24px, 4vw, 35px);
  margin-top: 40px;
  margin-bottom: 20px;
}

mat-card {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #15072E;
  color: white;
  min-width: 90%;
  font-size: clamp(15px, 3vw, 20px);
  border-radius: 20px;
}

mat-tab-group {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin: 5px;
}

table {
  min-width: 100%;
  overflow-x: auto;
  flex: 1 1 auto;
  display: block;
}

mat-tab {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: auto;
}

.table-container {
  display: none;
}

th, td, tr {
  color: white;
  flex: 1 1 auto;
  width: 25%;
}

.info {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 3%;
  text-align: left;
  font-size: clamp(15px, 3vw, 17px);
}

th, td {
  font-size: clamp(15px, 3vw, 17px);
}

.dropdown-tabs {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
  background-color: #15072E !important;
  opacity: 1 !important;
}

mat-option {
  background-color: #15072E !important; /* Set background for options */
}

@media (max-width: 600px) {
  table {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  .admin-container {
    width: auto;
    box-sizing: border-box;
    overflow-x: auto;
  }

  mat-card {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
  }

  ng-container {
    width: auto;
    overflow-x: auto;
    box-sizing: border-box;
  }

  mat-tab-group {
    display: none;
  }

  mat-tab {
    display: none;
  }

  .info {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  /* Container wrapping to enable scrolling on small screens */
  .table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
  }
}
