body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}

mat-card {
  border-bottom: none !important;
  box-shadow: none !important;
}

@keyframes blink {
  0%, 100% {
    background-color: #ED4AB7;
  }
  50% {
    background-color: deepskyblue;
  }
}

.blinking-button {
  animation: blink 3s infinite;
}
