@use '@angular/material' as mat;
@include mat.core();

$main-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$rose-palette,
  )
));

:root {
  @include mat.core-theme($main-theme);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}
