<div class="auth-bg">
  @if(isLoginVisible) {
    <section id="login" class="form-container">
      <div class="form-content">
        <h4>Login</h4>
        <form (submit)="onLogin()">
          <mat-form-field appearance="fill">
            <input matInput type="email" placeholder="E-mail" id="loginEmail" [(ngModel)]="loginEmail" name="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput type="password" placeholder="Password" id="loginPassword" [(ngModel)]="loginPassword" name="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
        <div>
          <a (click)="showRegister()">You don't have an Account yet? Sign Up for free</a>
        </div>
      </div>
      <mat-card class="image-card">
        <img mat-card-image src="pexels-manei-2690323.jpg" alt="login-img">
      </mat-card>
    </section>
  }

  @if(!isLoginVisible) {
    <section id="register" class="form-container">
      <div class="form-content">
      <h4>Register</h4>
      <form (submit)="onRegister()">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Nickname" [(ngModel)]="nickname" name="nickname">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="email" placeholder="E-mail" id="registerEmail" [(ngModel)]="registerEmail" name="registerEmail">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" [(ngModel)]="registerPassword" name="registerPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Confirm-Password" [(ngModel)]="confirmPassword" name="confirmPassword">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
      <a (click)="showLogin()">You already have an Account? Sign in</a>
      </div>
      <mat-card class="image-card">
        <img mat-card-image src="pexels-manei-2690323.jpg" alt="login-img">
      </mat-card>
    </section>
  }
</div>
