<mat-toolbar class="footer">
  <div class="footer-left">
    <span>
      <h3>About Us</h3>
      <p>Quibic-T was created by a group of young students to bring you the excitement of competitive TicTacToe.</p>
      <p>&copy; 2024 Quibic-T. All rights reserved.</p>
      <p>Disclaimer: All game names, trademarks, and registered trademarks are property of their respective owners.</p>
      <p>Credits: <a>Freepik </a></p>
    </span>
  </div>
  <span class="spacer"></span>
  <div class="footer-right">
    <span>
      <h3>Follow Us</h3>
      <div class="social-media">
        <a href="#"><img src="facebook-logo.png" alt="Facebook"></a>
        <a href="#"><img src="instagram-logo.png" alt="Instagram"></a>
        <a href="#"><img src="twitter-logo.jpg" alt="Twitter" ></a>
      </div>
    </span>
  </div>
</mat-toolbar>
